<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJFNx5sGi5QtQ8-Z8uLCJYdN41AyaHCwI</string>
	<key>GCM_SENDER_ID</key>
	<string>435286616809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.robomasterNewApp</string>
	<key>PROJECT_ID</key>
	<string>newrobomaster</string>
	<key>STORAGE_BUCKET</key>
	<string>newrobomaster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435286616809:ios:7fea473c118d75f0ad5e78</string>
</dict>
</plist>